#container {
    background-color: thistle;
    height: 98vh;
    width: 98vw;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "display display display display" "clear backspace divide multiply" "seven eight nine subtract" "four five six add" "one two three add" "zero decimal evaluate evaluate";
}

#display {
    grid-area: display;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#display #recorded-input {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
}

#display #current-input {
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
}

#display #recorded-input span {
    width: 99%;
    font-size: 2vh;
}

#display #current-input span {
    width: 99%;
    font-size: 10vh;
}

button {
    border: 1px solid white;
}

#clear {
    grid-area: clear;
}

#backspace {
    grid-area: backspace;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#subtract {
    grid-area: subtract;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#add {
    grid-area: add;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

#evaluate {
    grid-area: evaluate;
}